  
        .jumbotron-content {
            animation: fadeInUp 1s ease-out;
            font-family: 'Quicksand', sans-serif;
            height: 38rem;
            display: flex;
            text-align: justify;
           
        }
        .jumbotron-content-img {
            animation: fadeInRight 1s ease-out;
        }
        

        .jumbotron {
            background-image: url(/LandingPage/images/abstract-bg.png);
            
        }

        .fade-in-right {
            animation: fadeInRight 1s ease-out;
        }

        .container{
            
        }

        .container-lightHeader{
            background-color: rgb(255, 255, 255);
            text-align: center;
            margin-top: 2.5rem;   
            animation: fadeInUp;
            font-weight: 800;
        }
        .container-lightdesc{
            font-family: 'Quicksand', sans-serif;
            font-size: medium;
            text-align: start;
            margin-top: 20px;
            text-align: center;
        }

      /* Define animation */
      @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }