      *,*::before, **::after{
        box-sizing: border-box;
      }
      
      
      /* Define animation */
      @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
      @keyframes fadeInRight {
        from {
            opacity: 0;
            transition: all 1s;
            filter: blur(5px);
            transform: translateX(50px);
        }
        to {
            opacity: 1;
            filter: blur(0);
            transform: translateX(0);
            transform: translateX(0);
        }
    }
    @keyframes SlideInFromRight{
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0%);
        }
    }
    @keyframes SlideInFromLeft{
        from{
            transform: translateX(-100%);
        }
        to{
            transform: translateX(0%);
        }
    }  
    .jumbotron{
        display: flex;
        width: 100vw;
        height: 60vh;
        background-color: #007447;
    }
    .jumbotron>img{
        width: 80vw;
        height: 100vh;
        padding-bottom: 2rem;
   
    }
    .vector-container {
        margin-top: 5rem;
        padding-left: 3rem;
        max-width: 40vw;
        max-height: 40vh;
    }
    .curious{
        max-width: 103.5vw;
        border: none;
    }
    .curious button{
        animation: SlideInFromLeft 1s forwards;
        padding: 0.6rem 2.0rem;
        margin-left: 15%;
        margin-top: 2rem;
        border: 10px transparent;
        border-radius: 100px;
        background-color:#ffffff15;
        font-size: 1.2rem;
        font-weight: 1000;
        color: white;
        cursor: pointer;
        transition: all 0.15s ease-in;
        position: relative; /* Ensure the container is positioned */
        z-index: 1; /* Set a higher z-index */;
      }
      
    .navbar {
        padding: 10px 0; 
        width: 100vw;
    }
    
    .navbar-brand {
        margin-right: 20px; 
    }
    html,body {
        margin: 0; 
        padding: 0; 
        overflow-x: hidden; 
    }
    main aside{
        position:fixed;
        inset-block: 0;
        inset-inline-end: 0;
        z-index: +1;
      }
      
      main aside .social-media{
        height: 170%;
        display: flex;
        opacity: 75%;
      }
    main aside .social-media ul{ padding: 1.5rem 1rem;
        padding: 1.5rem 1rem;
        border-top-left-radius: 12px;
        border-bottom-left-radius: 12px;
        margin: auto;
        background-color: #00975d;
        display: flex; flex-flow: column nowrap;
        align-items: center;
        gap: 1rem;
      }
      
      main aside .social-media li {
        list-style-type: none;
      }
      
      main aside .social-media li a {
        text-decoration: none;
        font-size: 1.5rem;
        color: white;
      
        transition: all 0.1s ease-in-out;
      }
  
      main aside .social-media li a:hover {
        color: #89B0D9;
      }

        .custom-bg-color {
            background-color: #007447; 
        }  
        .custom-bg-color.scrolled {
            background-color: rgba(0, 0, 0, .692);
        }  
        @media(prefers-reduced-motion){
            .hidden{
                opacity: 0;
                transition: all 1s;
                filter: blur(5px);
                transform: translateX(-100%);
            }
            .show {
                opacity: 1;
                filter: blur(0);
                transform: translateX(0);
            }

        }
        .section-light-header{
            background-color: rgba(255, 255, 255, 0);
            text-align: center;
            margin-top: 3 rem; 
            margin-bottom: 1.5rem;   
            font-weight: 250;
            width: 100vw;
        }
        .section-gray{
            width: 100vw;
            background-color: rgb(239, 239, 239);
            font-family: 'Quicksand', sans-serif;
            text-align: center;
            margin: 0 auto;
            margin-bottom: 1.5rem;   
            font-weight: 350;
            animation: fadeInUp 0.75s ease-in-out;
        }
        .icon-wrapper {
        text-align: center;
        padding: 10px;
    }
    .bg-light{
        width: 100vw;
    }

        .icon-wrapper p {
            font-family: 'Quicksand', sans-serif;
            max-width: 250px; /* Set the maximum width of the <p> tag */
            margin: 0 auto; /* Center the <p> tag horizontally */
            margin-top: 20px;
            font-weight: 700;
        }
        .container.in-view{
            animation: fadeInUp 0.75s ease-in-out;
        }
        .container p{
            font-family: 'Quicksand', sans-serif;
            
        }

        .counter{
            font-family: 'Quicksand', sans-serif;
            margin-top: -2.5rem;
            font-weight: 800;
            margin-left: 62%;
            background-color: #007447;
            align-content: center;
            padding-top:15px; /* 15px on firefox*/
            border-radius: 999px;
            color: #FFFFFF;
            width: 70px;
            height: 60px;
            z-index: +1;
            
        }
       

    /*CAROUSELS*/

        .carousel{
            width: 100vw;
            height: 100vh;
            position:relative;
        } 
 
    .carousel-item {
        display: flex;
        justify-content: center;
        align-items: center; 
        max-width: 100%; 
        height: auto; 
      }
    .carousel-ul{
        margin: 0;
        padding: 0;
        list-style: none;
    }

    .slide  {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
    } 
    .slide-m  {
        position: absolute;
        inset: 0;
        opacity: 0;
        transition: 200ms opacity ease-in-out;
    } 
        .slide > img {
            display: flex;
            width: 100vw;
            height: 100vh;
            object-fit: cover;
            object-position: center;
            margin-top: -1rem;
            animation: fadeInRight 0.75s ease-in-out;
        }

        @media screen and (max-width: 1023px) {
             .jumbotron>img{
                width: auto !important;
                max-height: 70vh ;
                margin-left: 20%;
                margin-top: 1rem;
                margin-right: auto;
             }
             .curious button{
                align-items: center;
                z-index: 2;
             }
             .vector-container{
                display: none   ;
             }
             .counter{
               margin-left: 60%;
               z-index: +1;
             }
        }

        @media screen and (max-width: 900px) {
            .slide-m[data-active]{
            opacity: 1;
        }
        }
        .slide-m > img {
            display: block;
            margin-top: 2rem;
            justify-content: center;
            width: 100%;
            height: 100%;
            animation: fadeInRight 0.75s ease-in-out;
        }


    .slide[data-active]{
        opacity: 1;
    }
  

    .carousel-button{
        position: absolute;
        z-index: 2;
        background: none;
        border: none;
        font-size: 4;
        top:50%;
        transform: translateY(50%);
        color: rgba(255, 255, 255, .5);
        cursor: poiner;
        border-radius: .25rem;
        padding: 0 .5rem;
        background-color: rgba(0, 0, 0, .1);
    }

    .carousel-button:hover,
    .carousel-button:focus{
        color: #FFFFFF;
        background-color: rgba(0, 0, 0, .2);
    }
    .carousel-button:focus{
        outline: 1px solid black;
    }



    .card{
        justify-content: center;

    }
    .card > img {
        max-height: 20rem;
        width: auto;
    }

      #green {
        color:#00975d;
      }

    .carousel-button.prev{
        left: 1rem;
    }
    .carousel-button.next{
        right: 1rem;
    }

    .desc p{
        color: black;
        font-family: 'Quicksand', sans-serif;
    }
    footer {
        margin-top: auto; /* Pushes the footer to the bottom of the page */
        position: absolute;
        display: block;
        width: 100vw;
    }