  
  
        .custom-bg-color {
            background-color: #007447; /* Dark green color */
        }  
        .jumbotron {
            background-color: #007447;
            
        }
        .jumbotron-content {
            animation: fadeInUp 1s ease-out;
            font-family: 'Quicksand', sans-serif;
            display: flex;
            
            text-align: justify;
            height: 35rem;
        }
        .jumbotron p{
            font-family: 'Quicksand', sans-serif;
            display: flex;
            background-color: transparent;
            height: auto;
        }
        .jumbotron hr{
            background-color: transparent;
        }
        .jumbotron-content-img {
            animation: fadeInRight 1s ease-out;
        }
    

        .fade-in-right {
            animation: fadeInRight 1s ease-out;
        }
        .container-lightHeader{
            background-color: rgb(255, 255, 255);
            text-align: center;
            margin-top: 1.5rem;   
            animation: fadeInUp;
            font-weight: 800;
        }
        .container-lightdesc{
            font-family: 'Quicksand', sans-serif;
            font-size: medium;
            text-align: start;
            margin-top: 20px;
            text-align: center;
        }
        .container{
            margin-top: 1rem;
        }
        .container p{
            font-family: 'Quicksand', sans-serif;
            
        }

      /* Define animation */
      @keyframes fadeInUp {
        from {
            opacity: 0;
            transform: translateY(50px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }
    @keyframes fadeInRight {
        from {
            opacity: 0;
            transform: translateX(100%);
        }
        to {
            opacity: 1;
            transform: translateX(0);
        }
    }
    @keyframes SlideInFromRight{
        from{
            transform: translateX(100%);
        }
        to{
            transform: translateX(0%);
        }
    }
    .carousel-next{
        animation: SlideInFromRight 1s ease-in-out
    }